#cardapio > section {
  border-radius: 5px;
  margin: 5px 10px;
  border: var(--color-less-light) thin solid;
  transition: 300ms ease-out;
  overflow-y: hidden;
}
#cardapio > section > h3 {
  border-radius: 5px;
  font-size: 14px;
  padding: 10px 0 10px 10px;
  border: var(--color-less-light) thin solid;
}
